/* Estilos para el encabezado */
header {
    background-color: #333; /* Color de fondo del encabezado */
    color: #fff; /* Color del texto del encabezado */
    padding: 20px; /* Espaciado interno del encabezado */
    text-align: center; /* Alineación del texto al centro */
}

/* Estilos para los títulos de sección */
h1, h2 {
    color: #333; /* Color de texto de los títulos */
}

/* Estilos para el contenido principal */
main {
    padding: 20px; /* Espaciado interno del contenido principal */
}

/* Estilos para los párrafos de texto */
p {
    line-height: 1.6; /* Espaciado entre líneas del texto */
}

/* Estilos para el pie de página */
footer {
    background-color: #333; /* Color de fondo del pie de página */
    color: #fff; /* Color del texto del pie de página */
    padding: 10px 0; /* Espaciado interno del pie de página */
    text-align: center; /* Alineación del texto al centro */
}
